body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
}

h1:hover {
    color: blue;
}

h2 {
    font-family: "Oswald", sans-serif;
}

h2:hover {
    color: blue;
}

header {
    border-bottom: solid 5px black;
    position: sticky;
    top: 0;
    background-color: lightgray;
}

.HeaderDirection {
    display: flex;
    justify-content: space-evenly;
}

.LinkList {
    list-style-type: none;
    display: flex;
    gap: 10em;
    align-items: center;
    font-family: "Oswald", sans-serif;
}

a {
    color: black;
    background: rgb(255, 255, 255);
    text-decoration: none;
    border: 3px solid black;
    padding: 10px;
    font-weight: bold;
}

a:hover {
    color: blue;
    border: solid 3px blue;
    border-radius: 5%;
}

section {
    height: 100vh;
}

.TertnesSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 3px black;
}

.TertnesImage {
    width: 55%;
    border: solid 8px black;
    border-radius: 0.7%;
}

.TertnesText {
    width: 35%;
    line-height: 1.5;
}

.SkoleSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 3px black;
}

.SkoleText {
    width: 40%;
}

.SkoleImage {
    width: 49%;
    border: solid 8px black;
    border-radius: 0.7%;
}

.GrønnSection {
    border-bottom: solid 3px black;
}

.GrønnHeader {
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 0;
}

.GrønnText {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.TextSpacing {
    width: 45%;
    margin-top: 0;
}

.BergenLink {
    border: none;
    background: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    font-weight: normal;
}

.BergenLink:hover {
    border: none;
    font-weight: bold;
}

.GrønnImage {
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px black;
    border-radius: 0.7%;
}

footer {
    background-color: lightgray;
    margin: 0;
    padding: 10px;
}

.FooterText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 20px;
}

.FooterLinks {
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline;
}

.FooterLinks:hover {
    border: none;
}